div.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding-top: 30px;

	background: $neutral-regular;

	h1 {
		//padding: 40px 0 50px 0;

		text-transform: uppercase;

		font-size: $FontSizeBig;
	}

	.input__text {
		border: 1px solid black;
	}
}

div.wrapper .contents {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: auto;
	//width: 100vw;
	margin-top: 30px;
}

.left-arrow,
.right-arrow {
	display: flex;
	align-items: center;
	justify-content: center;

	//width: 60px;
	height: 90px;
	margin: 20px;

	cursor: pointer;

	color: #FFF;
	border-radius: 15px;
	background-color: #000;

	font-size: $FontSizeBig;
}

.left-arrow:hover,
.right-arrow:hover {
	color: $text-color;
	background-color: $neutral-regular;

	font-size: $FontSizeBig;
}

.img-box {
	form {
		display: grid;

		padding: 0;

		color: $default-color;

		font-size: $FontSizeCenter;

		.prise {
			display: grid;

			padding: 5px;

			background: #000;
			grid-column: 1/ 5;
			grid-template-columns: 2fr 0.2fr 1fr 0.2fr 2fr;

			.input__min {
				grid-column: 2;
			}
		}
		//grid-template-rows: 40px 50px;
		input {
			height: 50%;
			//padding: 10px;
			border: none;

			font-size: $mainFontSize;
		}

		.input__text {
			border: 1px solid black;
		}

		div {
			position: relative;

			display: grid;
			align-items: center;

			width: 100%;
			height: 50px;
			padding-right: 20px;

			text-align: end;

			background: $default-color;
			//color: $default-color;
		}
	}

	button {
		width: 100%;
		height: 50px;
		margin-top: 10px;

		text-transform: uppercase;

		color: $default-color;
		border-radius: 15px;
		background: $border-strong;

		font-size: $mainFontSize;
		grid-column: 1/5;
	}

	button:hover {
		color: $text-color;
		background: $success-color;
	}
}

.img-box img {
	width: 100%;
	height: 100%;
}

.indicators-box {
	display: flex;
	align-items: center;

	justify-content: center;

	width: 100%;
	padding: 1% 1% 1% 2%;

	text-align: center;
}

.indicators-box .indicator {
	width: 15px;
	height: 15px;
	margin: 25px;

	cursor: pointer;

	border: 2px solid #000;
	border-radius: 50%;
}

.indicators-box .indicator.active {
	background-color: #000;
}
