main {
 
	.slider {
		a{
			width: 100%;
			height: 100%;
		}
		position: relative;
		width: 100%;
		height: 200px;
		margin: auto;
		margin-bottom: 30px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	.slider-img {	
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all 0.5s;

	}

	.slider-img-prev {
		transform: translateX(-100%);
	}

	.slider-img-next {

		transform: translateX(100%);
	}
}
