{
	"root": false,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"typescript-eslint"
	],
	"rules": {
		"semi": "off",
		"@typescript-eslint/semi": [
			"warn"
		],

		"@typescript-eslint/no-empty-interfase": [
			"error",
			{
				"allowSingleExtends": true
			}
		]

	},
	"extends": [
		"next",
		"next/core-web-vitals",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	]
}