.Popularslider {
	display: flex;
	//overflow: hidden;
	align-items: center;

	//box-sizing: border-box;
	
	margin: 0 auto;
	margin-bottom: 30px;

	.slider-img1 {
		z-index: -1;
		display: flex;
		justify-content: center;
		width: 30vw;
		//height: 100%;
		

	}

	.slider-img-prev {
		position: absolute;

		transform: translateX(-100%);
	}

	.slider-img-next {
		position: absolute;

		transition: 0;
		transform: translateX(100%);
	}
}

.popularTov {
	padding: 40px 0;

	text-align: center;
	text-transform: uppercase;

	font-size: $FontSizeCenter;
}