.Popularslider {
	display: flex;
	//overflow: hidden;
	align-items: center;

	//box-sizing: border-box;

	margin: 0 auto;
	margin-bottom: 30px;

	.slider-img {
		z-index: -1;

		width: 30vw;
		height: 100%;

		transition: all 0.5s;
		//img{
		//	//transform: translateX(-50%);
		//	}
	}

	.slider-img-prev {
		position: absolute;

		transform: translateX(-100%);
	}

	.slider-img-next {
		position: absolute;
		//top: 0;
		transition: 0;
		transform: translateX(100%);
	}
}

.popularTov {
	padding: 40px 0;

	text-align: center;
	text-transform: uppercase;

	font-size: $FontSizeBig;
}
