.subscribe {
	background: $text-color;
	padding-bottom: 30px;
	text-align: center;

	h1 {
		color: $default-color;
		padding: 30px;
	}
	h1,
	button {
		text-transform: uppercase;
	}

	form {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 280px) minmax(auto, 280px) 1fr;
		grid-gap: 5%;

		input,
		button {
			background: $text-color;
			height: 40px;
			color: $default-color;
			text-transform: uppercase;
		}

		input::placeholder {
			font-size: $mainFontSize;
			color: $neutral-primary;
		}
		input {
			grid-column: 2;
		}
		button {
			border: 1px solid;
		}
	}

	@media (max-width: 640px) {
		form {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			input {
				grid-column: 1;
				margin-bottom: 15px;
			}
			button{
				grid-row: 2;
			}
		}
	}
}
