.container {
	width: 750px;
	height: 300px;
	margin: 0 auto;
}

.coruseles {
	width: 750px;
	height: 300px;
}

.carusel__container {
	position: relative;
}

.corusel {
	position: absolute;

	width: 300px;

	text-align: center;
	//height: 300px;
	border: 1px solid black;
}
